<!DOCTYPE html>
<html ng-app="appGISSCS" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Division GI Unit - Security Control Service</title>

    <link href="/libs/css/bootstrap/3.3.7/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/libs/css/bootstrap/3.3.7/dist/css/bootstrap-theme.css" rel="stylesheet">

    <link href="css/gisscs.css" rel="stylesheet">

    <script src="../libs/js/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>
<style>

</style>
</head>
<body>
<div style="height:80px; margin-bottom:20px;">
Banner
</div>

    <div style="margin: 0 20px;">
        <ul class="nav nav-tabs">
            <li ng-repeat="tab in appConfig.tabs" ng-click="change_tab(tab)" ng-class="{'active':tab==globalVar.current_tab}"><a href="#">{{tab.title}}</a></li>
        </ul>
        <div class="content-container" ng-include="globalVar.current_tab.url"></div>
    </div>
</body>
</html>